@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap");

body {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
.hero-header,
footer {
  background-color: #1f2937;
}
h1 {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 16px;
  justify-content: center;
}
.hero-header,
.information,
.quotes {
  flex: 1;
}
.logo {
  color: #f9faf8;
  font-size: 24px;
  flex-shrink: 0;
  text-align: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 250px 48px 250px;
}
.hero {
  display: flex;
  margin: 0px 250px 48px 250px;
}
.hero-info {
  flex: 1;
}
.hero-info h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0;
  padding: 0;
  line-height: 0.8em;
}
.hero-info p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0 8px 0 0;
  padding: 8px 0 0 0;
}
.hero-info button {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 6px;
  padding: 4px 20px;
  border-style: none;
  margin-top: 8px;
}
.image {
  background-color: #6d747d;
  color: #e5e7eb;
  flex: 1;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.information {
  margin: 0px 280px 48px 280px;
}
.information h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}
.container {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.image-placeholder {
  border: 2px solid #3882f6;
  border-radius: 12px;
  height: 180px;
}
.subtext {
  color: #6d747d;
  text-align: center;
}
.quotes {
  background-color: #6d747d;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote-text,
.author {
  margin: 0px 280px 48px 280px;
}
.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 0;
  padding: 0;
}
.author {
  align-self: flex-end;
  font-weight: bold;
  margin-top: 0;
  padding-top: 0;
  font-size: 16px;
}
.call-action {
  background-color: #3882f6;
  margin: 64px 250px 64px 250px;
  border-radius: 12px;
  padding: 40px 42px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.call-action button {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 6px;
  padding: 0px 20px 0px 20px;
  border: 1px solid white;
  height: 32px;
}
.call-action div {
  color: #e5e7eb;
}
.main-subsection-text {
  font-weight: bold;
}
.call-action div p {
  padding: 0;
  margin: 0;
}
footer {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
